*{
    box-sizing: border-box;
    font-family: sans-serif;
}

#user_btn{
    position: fixed;
    top: 10px;
    left: 10px;
}

.user_login_register_nav{
    margin-bottom: 10px;
}

.user_login_register_nav .nav-item{
    cursor: pointer;
}

.user_register_input_group,
.user_login_input_group{
    margin-bottom: 10px;
}

.user_register_input_group_prepend>span,
.user_login_input_group_prepend>span{
    width: 120px;
}