*{
    box-sizing: border-box;
    font-family: sans-serif;
}

#user_btn_container{
    position: fixed;
    top: 10px;
    left: 10px;
}

#user_btn{
    font-size: 0;
    cursor: pointer;
}
#user_btn>*{
    vertical-align: middle;
}

#user_btn_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #555;
    font-size: 40px;
    margin-right: 10px;
}
#user_btn:hover>#user_btn_icon{
    color: #222;
}

#user_btn_name{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #555;
    font-size: 20px;
}
#user_btn:hover>#user_btn_name{
    color: #222;
}

.user_login_register_nav{
    margin-bottom: 10px;
}

.user_login_register_nav .nav-item{
    cursor: pointer;
}

.user_register_input_group,
.user_login_input_group{
    margin-bottom: 10px;
}

.user_register_input_group_prepend>span,
.user_login_input_group_prepend>span{
    width: 120px;
}